.wrap-audio-record {
	display: flex;
	align-items: center;
	gap: 12px;
}

.btn-record {
	border: none;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	svg {
		width: 17px;
		color: white;
	}
	&.start {
		background: #1b73e8;
	}
	&.pause {
		background: #1b73e8;
	}
	&.save {
		background: #004aad;
	}
	&.ant-tooltip-disabled-compatible-wrapper {
		display: flex !important;
		align-items: center;
		justify-content: center;
		background-color: #accaf1 !important;
	}
}

.btn-record-next {
	border: none;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	svg {
		width: 17px;
		color: white;
	}
	&.start {
		background: #004aad;
	}
	&.pause {
		background: $primary-color;
	}
	&.save {
		background: #004aad;
	}
}

.cc-main-editor {
	.exam-blank-input {
		background: #c3c3c3;
		min-width: 80px;
		width: auto;
		border-radius: 6px;
		font-size: 16px;
		padding: 2px 8px;
		outline: none !important;
		margin: 0px 4px !important;
	}
}

.b-in {
	@apply shadow-sm;
	border: 0px;
	text-align: center;
	background: #ebebeb !important;
	color: #000 !important;
	max-width: 80px;
	width: auto;
	border-radius: 6px;
	font-size: 16px;
	padding: 2px 8px;
	outline: none !important;
	margin: 2px 4px !important;
}

.drag-23-suggest {
	@apply p-[16px] rounded-[6px] bg-[#fff] mb-[16px] shadow-sm;
}
.drag-23-ans-item {
	@apply flex items-center no-select col-span-1;
}
.drag-23-ans-number {
	@apply text-[#fff] font-[500] w-[26px] h-[26px] rounded-full all-center mr-[8px];
	@apply bg-[#0A89FF] hover:bg-[#157ddd] focus:bg-[#1576cf];
}
.typing-drag-23-content {
	@apply p-[8px] rounded-[6px] bg-[#fff] shadow-sm;
}

.exam-23-btn-del-group {
	@apply ml-[8px] inline-flex mb-[16px] px-[8px] py-[4px] text-[#fff] rounded-[4px] items-center font-[600] cursor-pointer bg-[#C94A4F] hover:bg-[#b43f43] focus:bg-[#9f3136];
}
.exam-23-btn-update-group {
	@apply inline-flex mb-[16px] px-[8px] py-[4px] text-[#fff] rounded-[4px] items-center font-[600] cursor-pointer bg-[#0A89FF] hover:bg-[#157ddd] focus:bg-[#1576cf];
}
