.wrap-audio-record {
	display: flex;
	align-items: center;
	gap: 12px;
}

.btn-record {
	border: none;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	svg {
		width: 17px;
		color: white;
	}
	&.start {
		background: #1b73e8;
	}
	&.pause {
		background: #1b73e8;
	}
	&.save {
		background: #004aad;
	}
	&.ant-tooltip-disabled-compatible-wrapper {
		display: flex !important;
		align-items: center;
		justify-content: center;
		background-color: #accaf1 !important;
	}
}

.btn-record-next {
	border: none;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	svg {
		width: 17px;
		color: white;
	}
	&.start {
		background: #004aad;
	}
	&.pause {
		background: $primary-color;
	}
	&.save {
		background: #004aad;
	}
}

.cc-main-editor {
	.exam-blank-input {
		background: #c3c3c3;
		min-width: 80px;
		width: auto;
		border-radius: 6px;
		font-size: 16px;
		padding: 2px 8px;
		outline: none !important;
		margin: 0px 4px !important;
	}
}
