.wrap-audio-record {
	display: flex;
	align-items: center;
	gap: 12px;
}

.btn-record {
	border: none;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	svg {
		width: 17px;
		color: white;
	}
	&.start {
		background: #1b73e8;
	}
	&.pause {
		background: #1b73e8;
	}
	&.save {
		background: #004aad;
	}
	&.ant-tooltip-disabled-compatible-wrapper {
		display: flex !important;
		align-items: center;
		justify-content: center;
		background-color: #accaf1 !important;
	}
}

.btn-record-next {
	border: none;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	svg {
		width: 17px;
		color: white;
	}
	&.start {
		background: #004aad;
	}
	&.pause {
		background: $primary-color;
	}
	&.save {
		background: #004aad;
	}
}

.cc-main-editor {
	.exam-blank-input {
		background: #c3c3c3;
		min-width: 80px;
		width: auto;
		border-radius: 6px;
		font-size: 16px;
		padding: 2px 8px;
		outline: none !important;
		margin: 0px 4px !important;
	}
}

.b-in {
	@apply shadow-sm;
	border: 0px;
	text-align: center;
	background: #ebebeb !important;
	color: #000 !important;
	max-width: 80px;
	width: auto;
	border-radius: 6px;
	font-size: 16px;
	padding: 2px 8px;
	outline: none !important;
	margin: 2px 4px !important;
}

.drag-23-suggest {
	@apply p-[16px] rounded-[6px] bg-[#fff] mb-[16px] shadow-sm;
}
.drag-23-ans-item {
	@apply flex items-center no-select col-span-1;
}
.drag-23-ans-number {
	@apply text-[#fff] font-[500] w-[26px] h-[26px] rounded-full all-center mr-[8px];
	@apply bg-[#0A89FF] hover:bg-[#157ddd] focus:bg-[#1576cf];
}
.typing-drag-23-content {
	@apply p-[16px] rounded-[6px] bg-[#fff] shadow-sm;
}

.exam-23-btn-del-group {
	@apply ml-[8px] inline-flex mb-[16px] px-[8px] py-[4px] text-[#fff] rounded-[4px] items-center font-[600] cursor-pointer bg-[#C94A4F] hover:bg-[#b43f43] focus:bg-[#9f3136];
}
.exam-23-btn-update-group {
	@apply no-select inline-flex mb-[16px] px-[8px] py-[4px] text-[#fff] rounded-[4px] items-center font-[600] cursor-pointer bg-[#0A89FF] hover:bg-[#157ddd] focus:bg-[#1576cf];
}

.scroll-h {
	overflow-y: hidden;
	overflow-x: auto;

	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		background-color: #f5f5f5;
		border-radius: 5px;
	}

	&::-webkit-scrollbar {
		width: 5px;
		height: 6px;
		background-color: #f5f5f5;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, #dcdcdc));
	}
}

.exam-23-container {
	@apply h-[100vh] w-[100%] relative flex flex-col bg-[#f3f3f3];
}

.exam-23-header {
	@apply py-[8px] w-full flex items-center relative shadow-sm;
}

.exam-23-skills {
	@apply flex items-center px-[16px] shadow-sm;
}

.exam-23-sections {
	@apply flex items-center px-[16px] shadow-sm;
}

.exam-23-footer {
	@apply w-full bg-[#fff] py-[8px] flex px-[8px] min-h-[36px] border-t-[1px] border-t-[#ededed];
}

.ex-23-f-button {
	@apply flex items-center mb-[8px] hover:bg-[#F0EEED] px-[4px] rounded-[4px] cursor-pointer no-select;
}

.hide-loop {
	border-radius: 6px !important;
	.rhap_additional-controls {
		display: none !important;
	}
	.rhap_progress-indicator {
		background: #1b73e8 !important;
	}
	.rhap_progress-filled {
		background: #1b73e8 !important;
	}
	.rhap_controls-section {
		margin-top: 0px !important;
	}
	.rhap_volume-container {
		margin-right: 8px !important;
	}
}

.rhap_play-status--playing {
	.rhap_play-pause-button {
		color: #ff5722 !important;
	}
}

.rhap_play-status--paused {
	.rhap_play-pause-button {
		color: #1b73e8 !important;
	}
}

.rhap_play-pause-button {
	font-size: 32px !important;
	width: 30px !important;
	height: 30px !important;
}

.rhap_main-controls {
	margin-left: -8px !important;
}

.full-s-audio {
	width: 100vw !important;
	padding-right: 8px !important;

	.ex-au-show {
		max-width: 100vw !important;

		.rhap_container {
			width: calc(100vw - 38px) !important;
			height: 48px !important;
			padding: 4px !important;
			margin-bottom: 16px !important;
			max-width: 100vw !important;
			padding-left: 14px !important;
			padding-right: 14px !important;
			box-shadow: none !important;
		}
	}
}

.ex-au-show {
	max-width: 350px !important;
	.rhap_container {
		padding: 4px !important;
		max-width: 350px !important;
		padding-left: 4px !important;
		padding-right: 4px !important;
		box-shadow: none !important;
	}
}

.ex-au-hidden {
	.rhap_volume-controls {
		display: none !important;
	}
	.rhap_controls-section {
		display: none !important;
	}
	.hide-loop {
		width: 190px !important;
		height: 70px !important;
		.rhap_time {
			font-size: 14px !important;
		}
		.rhap_progress-indicator {
			width: 14px !important;
			height: 14px !important;
			margin-top: 3px !important;
		}
	}
}

.rhap_current-time {
	margin-right: 4px !important;
}

.take-an-exam {
	&__right {
		display: flex;
		align-items: center;
		justify-content: center;
		background: #f0f0f0;
		border-radius: 6px;
		padding-left: 8px;
		padding-right: 8px;
		@media screen and (max-width: 600px) {
			display: none;
		}
	}
	&__countdown {
		font-weight: 700;
		font-size: 20px;
		color: #333c45;
		cursor: pointer;
	}
	&__icon-show {
		&--show {
			rotate: -90deg;
			transition-duration: 300ms;
		}
		&--hidden {
			rotate: 90deg;
			transition-duration: 300ms;
		}
	}
}

.ex-23-btn-play-audio {
	@apply px-[8px] h-[24px] cursor-pointer flex-shrink-0 all-center shadow-sm rounded-full bg-[#0A89FF] hover:opacity-90;
	.play-audio-text {
		@apply text-[#fff] text-[12px] font-[600];
	}
}

.ex-23-btn-change-skill {
	@apply cc-23-skill text-[#fff] bg-[#1b73e8] hover:bg-[#1867cf] flex items-center;
}

.tae-skill-name {
	@apply font-[600] text-[16px] text-[#1b73e8];
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-item {
	height: 30px !important;
}

.ant-select-selection-overflow {
	padding-left: 2px !important;
}

.exercise-btn-cancel {
	background-color: #1fd97c;
	height: 34px;
	display: flex;
	justify-content: center;
	color: #fff;
	align-items: center;
	border-radius: 6px;
	padding: 0px 16px;
	cursor: pointer;
	&:hover {
		background-color: #1dc571;
	}
	&:active {
		background-color: #1fd97c;
	}
}

.exercise-btn-continue {
	background-color: #004aad;
	height: 34px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	color: #fff;
	padding: 0px 16px;
	margin-left: 8px;
	cursor: pointer;
	&:hover {
		background-color: #053f8b;
	}
	&:active {
		background-color: #004aad;
	}
}

.tae-submit-modal {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	.animation-submit {
		width: 500px;
		height: 400px;
		margin-top: -40px;
	}
	div {
		font-weight: 600;
		font-size: 20px;
		color: #004aad;
		margin-top: -40px;
	}
}

.tae-submit-footer {
	display: flex;
	align-items: center;
	justify-content: center;

	.tae-submit-title {
		margin-left: 8px;
	}
}

.nr-top-info {
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 16px;
	max-width: 1200px;
	padding: 0px 16px;
	height: auto;

	@media screen and (max-width: 850px) {
		display: flex;
		flex-direction: column;
		padding: 16px 16px;
	}

	.nr-top-item {
		border-radius: 6px;
		background-color: #fff;
		min-height: 100px;
		min-width: 100px;
		flex: 1;
		margin-top: 16px;

		box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
		border: 1px solid #e5e5e5;

		display: flex;
		align-items: center;
		padding: 16px;

		@media screen and (max-width: 850px) {
			width: calc(100vw - 32px) !important;
			margin: 0;
		}

		&.--clock {
			.the-icon-wrapper {
				background-color: #e33f76;
			}
		}
		&.--info {
			.the-icon-wrapper {
				background-color: #00bcd4;
				.result-icon {
					margin-right: -8px;
				}
			}
			@media screen and (max-width: 850px) {
				margin-top: -16px;
			}
		}
		&.--result {
			.the-icon-wrapper {
				background-color: #4ab64f;
			}
		}

		.the-icon-wrapper {
			width: 60px;
			height: 60px;
			flex-shrink: 0;
			border-radius: 999px;
			background-color: #45a0ea;
			display: flex;
			align-items: center;
			justify-content: center;
			box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
			@media screen and (max-width: 400px) {
				width: 50px;
				height: 50px;
			}
		}

		.nr-title {
			margin-left: 16px;
			h1 {
				font-size: 20px;
				color: #000;
				font-weight: 400;
				font-family: sans-serif;
			}
			h2 {
				font-size: 22px;
				color: #000;
				margin-top: -4px;
				font-weight: 600;
				font-family: sans-serif;
			}
			h3 {
				font-size: 20px;
				color: $primary-color;
				margin-top: -4px;
				font-weight: 600;
				font-family: sans-serif;
			}

			@media screen and (max-width: 400px) {
				h1 {
					font-size: 16px !important;
				}
				h2 {
					font-size: 18px !important;
				}
			}
		}

		.result-icon {
			color: #fff;
		}
	}
}

.teacher-note {
	background-color: #fff;
	box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
	border: 1px solid #e5e5e5;
	border-radius: 6px;
	padding: 16px;
	color: #000;
	h4 {
		font-size: 18px;
		font-weight: 600;
		margin-top: 0px;
	}
	div {
		font-size: 16px;
	}
}
.renew-sec {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 16px;
}
.result-h1-title {
	font-size: 20px;
	font-weight: 600;
	color: #000;
	margin-top: 32px;
	margin-bottom: -4px;
}
.vir-h {
	background-color: #e9e9e9;
	width: 100%;
	height: 1px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.new-sections {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 16px;
	margin-bottom: 16px;
	// box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
	// border: 1px solid #e5e5e5;
	// border-radius: 6px;
	// padding: 16px;
	margin-top: 16px;

	@media screen and (max-width: 850px) {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
	.new-section {
		display: flex;
		align-items: center;
		padding: 16px;
		grid-column: span 1 / span 1;
		background-color: #fff;
		box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
		border: 1px solid #e5e5e5;
		border-radius: 6px;

		.btn-view-detail {
			margin-top: 24px;
			div {
				margin-left: 8px;
				font-size: 16px !important;
			}
		}

		.section-title {
			color: #000;
			flex: 1;

			.title {
				font-size: 20px;
				font-weight: 500;
			}
			div {
				font-size: 18px;
				font-weight: 400;
			}
		}
		.new-sec-info {
			//
		}
	}
}

.exam-section-item {
	display: flex;
	align-items: center;
	border-width: 1px;
	border-style: solid;
	border-radius: 6px;
	padding: 4px 16px;

	.exam-section-item-title {
		font-size: 16px;
		font-weight: 600;
		flex: 1;
		z-index: 99;
	}
}

.ex23-result-input {
	padding: 2px 2px !important;
	font-weight: 500 !important;
	&.ex23-incorrect {
		border-color: rgb(224, 3, 3) !important;
		color: rgb(224, 3, 3) !important;
	}
	&.ex23-correct {
		border-color: rgb(5, 118, 5) !important;
		color: rgb(5, 118, 5) !important;
	}
}

.ex23-num-quest-container {
	display: inline-flex;
	width: 28px;
	height: 28px;
	margin-bottom: 4px;
	border-radius: 999px;
	font-weight: 500;
	background-color: #d5d5d5 !important;
	color: #000;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.active-num {
	background-color: #1b73e8 !important;
	color: #fff;
}
.none-active-num {
	background-color: #d5d5d5 !important;
	color: #000;
}

.the-fucking-mind {
	p {
		display: unset !important;
	}
}

.mind-correct {
	.ant-checkbox-checked .ant-checkbox-inner::after {
		border: 4px solid #0baa0e !important;
		border-top: 0px !important;
		border-left: 0px !important;
	}
	.ant-checkbox-inner::after {
		width: 8.71428571px;
		height: 16.14285714px;
		left: 26.5%;
	}
	.ant-checkbox-inner {
		background-color: #0baa0e00;
		border-color: #0baa0e00;
		width: 30px;
		height: 30px;
	}
}

.mind-incorrect {
	.ant-checkbox-checked .ant-checkbox-inner::after {
		border: 4px solid #e00e0e !important;
		border-top: 0px !important;
		border-left: 0px !important;
	}
	.ant-checkbox-inner::after {
		width: 8.71428571px;
		height: 16.14285714px;
		left: 26.5%;
	}
	.ant-checkbox-inner {
		background-color: #e00e0e00;
		border-color: #e00e0e00;
		width: 30px;
		height: 30px;
	}
}

.mind-corr-ans {
	.ant-checkbox-checked .ant-checkbox-inner::after {
		border: 4px solid #1890ff !important;
		border-top: 0px !important;
		border-left: 0px !important;
	}
	.ant-checkbox-inner::after {
		width: 8.71428571px;
		height: 16.14285714px;
		left: 26.5%;
	}
	.ant-checkbox-inner {
		background-color: #188fff00;
		border-color: #188fff00;
		width: 30px;
		height: 30px;
	}
}

.mindmap-scroll {
	.ant-checkbox-wrapper {
		width: 100% !important;
		height: 98%;
		padding-bottom: 1% !important;
		margin-top: -2px !important;
		.ant-checkbox {
			width: 100% !important;
			height: 100%;
			.ant-checkbox-inner {
				background: #efefef;
				border: none !important;
				width: 100%;
				height: 100%;
			}
		}
		.ant-checkbox-inner::after {
			left: 48% !important;
			top: 48% !important;
		}
	}
	.ant-checkbox-wrapper .ant-checkbox-inner::after {
		border: 4px solid #1890ff;
		border-top: 0px !important;
		border-left: 0px !important;
		width: 8.71428571px;
		height: 16.14285714px;
	}
}

.ex-mind-checkbox {
	@apply flex items-center mt-[0.5px];
	.antd-mind-check-border {
		@apply border-l-[1px] border-[#ffffff];
	}
	.antd-mind-check {
		@apply h-[46px] bg-[#f2f2f2] flex all-center flex-shrink-0 w-[110px];
	}
}

.ex-mind-ans {
	@apply min-h-[46px] w-[110px] bg-[#86ce86] all-center flex-shrink-0;
}

.ex-mind-ans-border {
	@apply border-l-[1px] border-[#ffffff];
}

.ex-mind-ans-content {
	@apply text-[14px] text-[#fff];
}

.ex23-mind {
	@apply relative shadow-sm border-[1px] border-[#fff];
}

.ex23-mind-quest-wrapper {
	@apply flex flex-col flex-shrink-0 border-r-[1px] border-[#ffffff];
}

.check-false {
	.ant-checkbox {
		&.ant-checkbox-checked {
			.ant-checkbox-inner {
				background-color: #e00e0e;
			}
		}
	}
}

.check-true {
	.ant-checkbox {
		&.ant-checkbox-checked {
			.ant-checkbox-inner {
				background-color: #1890ff;
			}
		}
	}
}

.check-true-true {
	.ant-checkbox {
		&.ant-checkbox-checked {
			.ant-checkbox-inner {
				background-color: #0baa0e;
			}
		}
	}
}
