.wrapper-register-class {
	@apply max-w-[1200px] mx-auto;

	.tab-item {
		@apply transition-all text-[15px];
		&.active {
			@apply relative text-tw-primary font-[600];
			&::after {
				@apply content-[''] block absolute bottom-[-13px] left-0 right-0 h-[2px] bg-tw-primary;
			}
		}
		&:hover {
			@apply text-tw-primary;
		}
	}

	.info-payment-register-class {
		@apply bg-tw-white rounded-lg p-6;
		.wrapper-payment-method-register-class {
			@apply flex items-center justify-start gap-3;
		}

		.item-payment-method-register-class {
			border: 2px solid #bfbfcb;
			@apply opacity-60;
			&.active-method {
				border: 2px solid #1b73e8;
				@apply opacity-100;
			}
			@apply rounded-[12px] w-[120px] h-[120px] flex-shrink-0 cursor-pointer;
			img {
				@apply rounded-[10px] object-fill;
			}
		}
	}
}

.wrapper-item-class {
	@apply flex items-start;
	.img-class {
		@apply w-20 h-20 rounded-lg mr-3 object-fill;
	}
	.img-discount {
		@apply w-[100px] h-[100px] rounded-lg object-fill;
	}
	.wrapper-info-class {
		@apply text-base flex flex-col gap-2;
	}
}

.modal-review-class-program {
	.ant-modal-body {
		@apply max-h-[80vh] overflow-y-scroll;
		&::-webkit-scrollbar-track {
			border-radius: 10px;
			background-color: white !important;
		}

		&::-webkit-scrollbar {
			border: none;
			width: 4px !important;
			background-color: white !important;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 10px;
			background-color: #dbdbdb !important;
		}
	}

	.ant-list-items {
		@apply max-h-[60vh] overflow-y-scroll;
		&::-webkit-scrollbar-track {
			border-radius: 10px;
			background-color: white !important;
		}

		&::-webkit-scrollbar {
			border: none;
			width: 4px !important;
			background-color: white !important;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 10px;
			background-color: #dbdbdb !important;
		}
	}
}

.wrapper-classes,
.wrapper-programs {
	.ant-list-items {
		@apply max-h-[42vh] overflow-y-scroll;
		&::-webkit-scrollbar-track {
			border-radius: 10px;
			background-color: white !important;
		}

		&::-webkit-scrollbar {
			border: none;
			width: 4px !important;
			background-color: white !important;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 10px;
			background-color: #dbdbdb !important;
		}
	}
}
